<!DOCTYPE html>
<html>

<body>

<h1>{{ mycharacter.firstname }} {{ mycharacter.lastname }}</h1>
  
<p>Strength: {{ mycharacter.strength }}</p>
<p>Dexterity: {{ mycharacter.dexterity }}</p>
<p>Constitution: {{ mycharacter.constitution }}</p>
<p>Intelligence: {{ mycharacter.intelligence }}</p>
<p>Wisdom: {{ mycharacter.wisdom }}</p>
<p>Charisma: {{ mycharacter.charisma }}</p>
<p>Character since: {{ mycharacter.joined_date }}</p>

<p>Back to <a href="/characters">Characters</a></p>

</body>
</html>